.footer {
    padding: 30px 0 20px 0;
    &__tabs {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    &__tab {
        margin-right: 40px;
        text-decoration: none;
        font-weight: 400;
        font-size: 12px;
        color: #000000;
    }
    &__separator {
        display: block;
        margin: 0 auto;
    }
}